.boxred1
{
background-color:red;
width:50%;
height:50px;
float:left;
margin:0px;
padding:0px;

}

.boxpurple1
{
background-color:purple;
width:41.55em;
height:40px;
float:right;
margin:0px;
padding:5px;
}
.boxgreen1
{
background-color:green;
width:85%;
height:40px;
float:left;
margin:0px;
padding:0px;
}
.boxpurple2
{
background-color:purple;
width:12em;
height:30px;
float:right;
margin:0px;
padding:5px;
}
.boxred2
{
background-color:red;
width:20%;
height:50px;
float:left;
margin:0px;
padding:0px;
}
.boxgreen2
{
background-color:green;
width:20%;
height:50px;
float:right;
margin:0px;
padding:0px;

}
.boxpurple3
{
background-color:purple;
width:59.2%;
height:40px;
float:right;
margin:0px;
padding:5px;
}
.boxred3
{
background-color:red;
width:60%;
height:30px;
float:left;
margin:0px;
padding:5px;
}
.boxpurple4
{
background-color:purple;
width:38.5%;
height:30px;
float:right;
margin:0px;
padding:5px;
}
.boxgreen3
{
background-color:green;
width:99%;
height:30px;
float:left;
margin:0px;
padding:5px;
}
.boxred4
{
background-color:red;
width:2%;
position:relative;
height:5px;
margin:10px 10px 0px 700px;
padding:10px;
}
.boxred5
{
background-color:red;
width:99%;
height:30px;
margin:0px;
padding:5px;
}
.boxpurple5
{
background-color:purple;
width:4%;
height:115%;
float:right;
margin:0% 600px 100px 10px;
}

