h1{
    background-color: chartreuse;
    font-size: 55px;
    text-align: center;
    font-family: cursive;
    width: 100%;
}

.container{
    border: solid 8px rgb(2, 57, 235);
    border-radius: 10px;
    width: 980px;
    height: 1100px;
    background-image: url('https://m.media-amazon.com/images/I/71RgfIeTq6L._SL1148_.jpg');
}

.container:hover{
    border: solid 8px rgb(9, 218, 233);
}

.india{
  padding: 20px;
  font-size: 30px;
    margin: auto;
    width: 90%;
    height: max-content;
    border: solid 10px rgb(183, 8, 236);
    border-radius: 20px;
    color: white;
}

.india:hover{
  background-color: black;
  color: yellow;
}

/* Buttons */

#jANDk{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 260px;
      left: 500px;
      width: 180px;
      height: 90px;
    cursor: pointer;
    
    
  }

#hp{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 380px;
      left: 566px;
      width: 65px;
      height: 42px;
    cursor: pointer;
    

  }

#punjab{
    /* color: transparent; */
     /* background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 415px;
      left: 510px;
      width: 61px;
      height: 44px;
    cursor: pointer;
   
   
  }  

#rajasthan{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 528px;
      left: 400px;
      width: 166px;
      height: 100px;
    cursor: pointer;
 
  }
#rajasthan2{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 490px;
      left: 450px;
      width: 75px;
      height: 60px;
    cursor: pointer;
   
  }

#UP{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 570px;
      left:620px;
      width:180px;
      height: 60px;
    cursor: pointer;

  }

#UP2{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 520px;
      left:620px;
      width:90px;
      height:70px;
    cursor: pointer;

  }

  #Guj{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 660px;
      left:340px;
      width:130px;
      height: 80px;
    cursor: pointer;
    
  }
  #Mp2{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 640px;
      left:520px;
      width:190px;
      height: 80px;
    cursor: pointer;

  }
  #Mp{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 680px;
      left:520px;
      width:190px;
      height: 80px;
    cursor: pointer;
   
  }
 
 
  #Maharashtra{
     /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 830px;
      left:460px;
      width:130px;
      height: 80px;
      border-bottom-right-radius: 100px;
    cursor: pointer;
 
  }
 
  #Maharashtra2{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent;  */
      position: absolute;
      top: 770px;
      left:470px;
      width:160px;
      height: 80px;
    cursor: pointer;

  }
 
  #kt {
    /* color: transparent;
    background-color: transparent;
     border-color: transparent;  */

    width: 90px;
    height: 150px;
    position: absolute;
    left: 480px;
    top: 930px;
}
#AP
{   
   /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  width: 120px;
  height: 130px;
  position: absolute;
  left: 600px;
  top: 885px;
  transform: skewY(
-23deg);
}
#haryana
{   
   /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
   position: absolute;
  
top: 480px;
  left: 540px;
  width: 40px;
  height: 60px;
  cursor: pointer;
  
}
#orissa1
{ 
   /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 740px;
  left: 815px;
  width: 75px;
  height: 60px;
  cursor: pointer;
  
}
#orissa2
{ 
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
     position: absolute;
  top: 770px;
  left: 760px;
  width: 75px;
  height: 75px;
  cursor: pointer;
 
}
#westbg
{   
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 690px;
  left: 890px;
  width: 65px;
  height: 65px;
  cursor: pointer;

}
#chattisgarh1
{  
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
top: 700px;
  left: 750px;
  width: 45px;
  height: 75px;
  cursor: pointer;
 
}

#chattisgarh2
{
   /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  
    position: absolute;
    top: 750px;
  left: 710px;
    width: 50px;
    height: 115px;
    cursor: pointer;

}

#uttarakhand
{ 
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 430px;
    left: 620px;
    width: 69px;
    height: 68px;
    cursor: pointer;
  
}
#bihar
{ 
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
    top: 590px;
    left: 800px;
    width: 105px;
    height: 75px;
    cursor: pointer;
  
}
#jharkhand
{   
    /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 669px;
  left: 803px;
  width: 69px;
  height: 75px;
  cursor: pointer;
 
}
#tripura
{ 
     /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
   position: absolute;
   top: 680px;
   left: 1030px;
  width: 30px;
  height: 40px;
  cursor: pointer;
 
}
#tamilnadu
{   
   /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top:1090px;
  left: 580px;
  width: 70px;
  height: 95px;
  cursor: pointer;
  
}
#kerala
{  
   /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
    transform: skewY(
  35deg);
      position: absolute;
      top: 1100px;
      left: 530px;
      width: 40px;
      height: 95px;
      cursor: pointer;
     
}
#Meghalaya
{
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 613px;
  left: 1000px;
  width: 70px;
  height: 40px;
  cursor: pointer;
  
  
}
#skm

{
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 546px;
  left: 925px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  
  
}
#assam

{
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 579px;
  left: 983px;
  width: 140px;
  height: 20px;
  cursor: pointer;
 
  
}
#arunp

{ 
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 500px;
  left: 1070px;
    width: 110px;
    height: 50px;
    cursor: pointer;

  
}
#manipur

{
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position:absolute;
  top: 630px;
  left: 1090px;
  width: 45px;
  height: 34px;
  cursor: pointer;
 
  
}
#mizoram

{
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 680px;
  left: 1070px;
  width: 40px;
  height: 55px;
  cursor: pointer;
 
  
}
#nagaland
{ 
  /* color: transparent;
  background-color: transparent;
   border-color: transparent;  */
  position: absolute;
  top: 570px;
  left: 1110px;
  width: 40px;
  height: 45px;
  cursor: pointer;
}

.mapimg
    {
    border: solid 4px black;
    width: 800px;
    margin: auto;
    background-color: crimson;
     }



  
  