*
{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.main{
    margin: 0 auto;
    text-align: center;
}
.sec h3
{
    float:right;
    border: 1px solid black;
    background-color: goldenrod;
    width: 120px;
    text-align: center;
    margin-top: 0%;
    padding: 5px;
}
.sec
{
    border:1px solid black;
    background-color: lemonchiffon;
    height:50%;
    display: inline-table;
    width:30%;
    margin:1%;
    
    
}

.sec p{
    padding: 20px;
}
/*For tablet*/
@media (min-width:768px)and(max-width:991px)
{
    .sec3{
        width:100%;
        
    }
}