h1{
    background-color: chartreuse;
    font-size: 55px;
    text-align: center;
    font-family: cursive;
    width: 100%;
}


.container{
    border: solid 5px rgb(2, 57, 235);
    border-radius: 10px;
    width: 980px;
    height: 1100px;
    background-image: url(map.jpg);
}

.container:hover{
    border: solid 10px black;

}

.india{
    margin: auto;
    width: 90%;
    height: 100px;
    border: solid 4px rgb(183, 8, 236);
}

/* Buttons */

#jANDk{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 120px;
      left: 230px;
      width: 120px;
      height: 70px;
    cursor: pointer;
    background-color: red;
  }


#hp{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 147px;
      left: 280px;
      width: 61px;
      height: 40px;
    cursor: pointer;
    background-color: blue;
  }

#punjab{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 147px;
      left: 230px;
      width: 61px;
      height: 40px;
    cursor: pointer;
    background-color: rgb(0, 255, 221);
  }  

#rajasthan{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 220px;
      left: 100px;
      width: 166px;
      height: 100px;
    cursor: pointer;
    background-color: rgb(44, 243, 9);
  }
#rajasthan2{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 90px;
      left: 170px;
      width: 75px;
      height: 60px;
    cursor: pointer;
    background-color: rgb(9, 227, 243);
  }

#UP{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 90px;
      left:339px;
      width:170px;
      height: 60px;
    cursor: pointer;
    background-color: rgb(187, 252, 9);
  }

#UP2{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: -7px;
      left:339px;
      width:50px;
      height:70px;
    cursor: pointer;
    background-color: rgb(177, 10, 10);
  }

  #Guj{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 60px;
      left:80px;
      width:100px;
      height: 80px;
    cursor: pointer;
    background-color: rgb(30, 159, 245);
  }
  #Mp2{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: -120px;
      left:230px;
      width:190px;
      height: 80px;
    cursor: pointer;
    background-color: rgb(54, 12, 240);
  }
  #Mp{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 0px;
      left:230px;
      width:190px;
      height: 80px;
    cursor: pointer;
    background-color: rgb(240, 12, 88);
  }
 
 
  #Maharashtra{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: 0px;
      left:160px;
      width:130px;
      height: 80px;
      border-bottom-right-radius: 100px;
    cursor: pointer;
    background-color: rgb(255, 192, 17);
  }
 
  #Maharashtra2{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: -130px;
      left:160px;
      width:160px;
      height: 80px;
    cursor: pointer;
    background-color: rgb(17, 255, 37);
  }
  #Maharashtra3{
    /* color: transparent;
     background-color: transparent;
      border-color: transparent; */
      position: relative;
      top: -240px;
      left:160px;
      width:220px;
      height: 40px;
    cursor: pointer;
    background-color: rgb(235, 93, 11);
  }
  #kt {
    background-color: black;
    width: 90px;
    height: 100px;
    position: relative;
    left: 190px;
    top: -90px;
}
#AP
{    background-color: black;
  width: 120px;
  height: 100px;
  position: relative;
  left: 300px;
  top: -250px;
  transform: skewY(
-23deg);

}
#haryana
{    position: relative;
  
  bottom: 760px;
  left: 260px;
  width: 40px;
  height: 60px;
  cursor: pointer;
  background-color: black;
}
#orissa1
{
  position: relative;
  bottom: 500px;
  left: 470px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: black;
}
#orissa2
{    position: relative;
  bottom: 600px;
  left: 500px;
  width: 75px;
  height: 70px;
  cursor: pointer;
  background-color: black;
}
#westbg
{        position: relative;
  bottom: 740px;
  left: 610px;
  width: 65px;
  height: 55px;
  cursor: pointer;
  background-color: black;
}
#chattisgarh1
{  
  position: relative;
  bottom: 700px;
  left: 410px;
  width: 45px;
  height: 75px;
  cursor: pointer;
  background-color: black;
}

#chattisgarh2
{
  transform: skewY(
55deg);
    position: relative;
    bottom: 800px;
    left: 426px;
    width: 38px;
    height: 55px;
    cursor: pointer;
    background-color: black;
}
#chattisgarh3
{  
  transform: skewY(
    -10deg);
        position: relative;
        bottom: 922px;
        left: 450px;
        width: 52px;
        height: 75px;
        cursor: pointer;
        background-color: black;
}
#uttarakhand
{
  position: relative;
    bottom: 1259px;
    left: 350px;
    width: 52px;
    height: 75px;
    cursor: pointer;
    background-color: black;
}
#bihar
{
  position: relative;
    top: -1170px;
    left: 520px;
    width: 87px;
    height: 75px;
    cursor: pointer;
    background-color: black;
}
#jharkhand
{    position: relative;
  top: -1169px;
  left: 530px;
  width: 55px;
  height: 75px;
  cursor: pointer;
  background-color: black;
}
#bangaladesh
{    position: relative;
  top: -1280px;
  left: 670px;
  width: 70px;
  height: 95px;
  cursor: pointer;
  background-color: black
}
#tamilnadu
{    position: relative;
  bottom: 920px;
  left: 290px;
  width: 70px;
  height: 95px;
  cursor: pointer;
  background-color: black;
}
#kerala
{    transform: skewY(
  35deg);
      position: relative;
      top: -1003px;
      left: 230px;
      width: 40px;
      height: 95px;
      cursor: pointer;
      background-color: black;
}
#Meghalaya
{
  position: relative;
  top: -1593px;
  left: 710px;
  width: 70px;
  height: 40px;
  cursor: pointer;
  background-color: black
  
}
#sikkim

{
  position: relative;
    top: -1695px;
    left: 630px;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background-color: black;
  
}
#assam

{
  position: relative;
  top: -1660px;
  left: 710px;
  width: 120px;
  height: 25px;
  cursor: pointer;
  background-color: black;
  
}
#arunp

{
  position: relative;
    top: -1765px;
    left: 810px;
    width: 90px;
    height: 35px;
    cursor: pointer;
    background-color: black
  
}
#manipur

{
  position: relative;
  top: -1695px;
  left: 810px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background-color: black;
  
}
#mizoram

{
  position: relative;
  top: -1675px;
  left: 780px;
  width: 40px;
  height: 45px;
  cursor: pointer;
  background-color: black;
  
}
#nagaland

{
  position: relative;
  top: -1710px;
  left: 830px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background-color: black;
  
}